<%- include('layout/header') %>
<body>
    <h1>Table of data </h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">image</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ahmad</td>
            <td>ahmad.rjoub@gmail.com</td>
            <td>059988562</td>
            <td><img src="" name="img-table"></td>

            <td><i class="fas fa-trash"></i>
            <i class="fas fa-edit"></i></td>
          </tr>
   
        </tbody>
      </table>

</body>

<%- include('layout/footer') %>

